@import "../../shared/styles/master.style.scss";
@import "../../require-maintenances/require-mainten-table/require-mainten-table.component.scss";
@import "../../shared/styles/schedule.style.scss";

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
